/* Font */
@font-face {
font-family: "volvo-sans-regular";
src: url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-semi-light.woff2") format("woff2"), url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-semi-light.woff") format("woff");
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: "volvo-sans-medium";
src: url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-medium.woff2") format("woff2"), url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-medium.woff") format("woff");
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: "volvo-broad";
src: url("https://www.volvocars.com/static/shared/fonts/volvo-broad/volvo-broad.woff") format("woff");
font-weight: 400;
font-style: normal;
}


.acs-wrapper { 
font-family: "volvo-sans-regular", sans-serif
}

.acs-bold {
font-family: var(--bold-font);   
font-weight: 700;
}

.acs-h1-broad, .acs-h2-broad, .acs-h3-broad, .acs-h4-broad, .acs-h5-broad, .acs-h6-broad  {
margin: 0 !important;
padding: 0 !important;
border: 0 !important;
font-size: 100%;
vertical-align: baseline !important;
text-transform: uppercase
} 


/* Variables */
.acs-wrapper {
--accent: #1c6bba;
--accent2: #284E80;
--black: #000000; 
--white: #ffffff; 
--gray: #FAFAFA; 
--gray2: #a3a3a3;
--dark: #141414; 
--bold-font: "volvo-sans-medium", sans-serif;
}



/* Text Colors */
.acs-black {
color: var(--black)
}
.acs-white {
color: var(--white)
}
.acs-gray {
color: var(--gray)
}
.acs-gray2 {
color: var(--gray2)
}
.acs-dark {
color: var(--dark)
}


/* Accent Colors */
.acs-accent {
color: var(--accent)
}
.acs-accent2 {
color: var(--accent2)
}



/* BG Colors */
.acs-bg-accent {
background-color: var(--accent)
}
.acs-bg-accent2 {
background-color: var(--accent2)
}
.acs-bg-black {
background-color: var(--black)
}
.acs-bg-white {
background-color: var(--white)
}
.acs-bg-gray {
background-color: var(--gray)
}
.acs-bg-gray2 {
background-color: var(--gray2)
}
.acs-bg-dark {
background-color: var(--dark)
}




/* Link Accent */
.acs-link-accent {
text-decoration: none;
color: var(--accent) !important;
font-family: var(--bold-font);   
letter-spacing: 0.02em;
transition: all 0.2s ease-in-out 0s;
}
.acs-link-accent:hover {
color: var(--black) !important; 
}



/* BUTTONS: START */
/* Button 1 */
.acs-button {
background-color: var(--accent2);
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--white);
border: solid 1px var(--accent2);
text-decoration: none !important;
padding: 18px 25px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button:hover {
background-color: var(--black);
color: var(--white);
border: solid 1px var(--black);
}

/* Button 2 */
.acs-button2 {
background-color: transparent;
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--accent);
border: solid 1px var(--accent);
text-decoration: none !important;
padding: 18px 25px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button2:hover {
background-color: var(--accent2);
color: var(--white);
border: solid 1px var(--accent2);
}

/* Button 3 */
.acs-button3 {
background-color: var(--white);
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--black);
border: solid 1px var(--white);
text-decoration: none !important;
padding: 18px 25px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button3:hover {
background-color: var(--gray2);
color: var(--black);
border: solid 1px rgba(255,255,255,0);
}

/* Button 4 */
.acs-button4 {
background-color: transparent;
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--white);
border: solid 1px var(--white);
text-decoration: none !important;
padding: 18px 25px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button4:hover {
background-color: var(--white);
color: var(--black);
}
/* BUTTONS: END */



/* Volvo Icon */
.acs-volvo-icon {
display: inline-flex;
-moz-osx-font-smoothing: grayscale;
position: relative;
padding-right: .8em;
}
.acs-volvo-icon::after {
font-family: FontAwesome;
content: "\f105";
position: absolute;
right: 0;
top: 1px;
padding: 0 1px;
}
/* Volvo Icon */



/* DDC HEADER TEMPLATE FIX */
.page-header .value-statement {
bottom: -25px !important;
left: 115px !important;
}
.page-header.responsive-centered-nav .header-navigation .header-default .vcard .adr .ddc-icon {
position: relative !important;
top: 1px !important;
left: 0 !important;
}
i.ddc-icon.ddc-icon-map {
margin-right: -1.5px !important;
}
