/* OEM Font Embed */
@font-face {
font-family: "volvo-sans-regular";
src: url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-semi-light.woff2") format("woff2"), url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-semi-light.woff") format("woff");
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: "volvo-sans-medium";
src: url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-medium.woff2") format("woff2"), url("https://www.volvocars.com/static/shared/fonts/volvo-novum/volvo-novum-medium.woff") format("woff");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "volvo-broad";
src: url("https://www.volvocars.com/static/shared/fonts/volvo-broad/volvo-broad.woff") format("woff");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'volvoicons';
src: url('https://agilecreativesolutions.github.io/volvo-icon/font/volvoicons.eot?23214637');
src: url('https://agilecreativesolutions.github.io/volvo-icon/font/volvoicons.eot?23214637#iefix') format('embedded-opentype'),
url('https://agilecreativesolutions.github.io/volvo-icon/font/volvoicons.woff?23214637') format('woff'),
url('https://agilecreativesolutions.github.io/volvo-icon/font/volvoicons.ttf?23214637') format('truetype'),
url('https://agilecreativesolutions.github.io/volvo-icon/font/volvoicons.svg?23214637#volvoicons') format('svg');
font-weight: normal;
font-style: normal;
}
/* OEM Font Embed */



/* OEM Font */
.acs-wrapper, .acs-oem-brand { 
font-family: "volvo-sans-regular", sans-serif
}
/* OEM Font */



/* Heading Tags */
.acs-h1, .acs-h2, .acs-h3, .acs-h4, .acs-h5, .acs-h6 {
font-family: "volvo-sans-medium", sans-serif;
font-weight: 700;
line-height: 1.2;
}

.acs-h1-broad, .acs-h2-broad, .acs-h3-broad, .acs-h4-broad, .acs-h5-broad, .acs-h6-broad {
font-family: "volvo-broad", sans-serif;
font-weight: 400;
line-height: 1.2;
}

.acs-h1, .acs-h1-broad {
font-size: 2rem;
}

.acs-h2, .acs-h2-broad {
font-size: 1.8rem;
}

.acs-h3, .acs-h3-broad {
font-size: 1.6rem;
}

.acs-h4, .acs-h4-broad {
font-size: 1.4rem;
}

.acs-h5, .acs-h5-broad {
font-size: 1.2rem;
}

.acs-h6, .acs-h6-broad {
font-size: 1.1rem;
}

/* Larger than phablet */
@media (min-width: 575px) {
.acs-h1, .acs-h1-broad {
font-size: 2.5rem;
}

.acs-h2, .acs-h2-broad {
font-size: 2.2rem !important;
}

.acs-h3, .acs-h3-broad {
font-size: 1.8rem !important;
}

.acs-h4, .acs-h4-broad {
font-size: 1.6rem !important;
}

.acs-h5, .acs-h5-broad {
font-size: 1.4rem !important;
}

.acs-h6, .acs-h6-broad {
font-size: 1.2rem !important;
}
}

.acs-h1-broad, .acs-h2-broad, .acs-h3-broad, .acs-h4-broad, .acs-h5-broad, .acs-h6-broad, .acs-broad  {
margin: 0 !important;
padding: 0 !important;
border: 0 !important;
vertical-align: baseline !important;
} 
/* Heading Tags */



/* Volvo Icons */
.volvo-icon {
font-family: "volvoicons";
font-style: normal;
font-weight: normal;
speak: never;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
/* opacity: .8; */

/* For safety - reset parent styles, that can break glyph codes*/
font-variant: normal;
text-transform: none;

/* fix buttons height, for twitter bootstrap */
line-height: 1em;

/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
margin-left: .2em;

/* You can be more comfortable with increased icons size */
/* font-size: 120%; */

/* Font smoothing. That was taken from TWBS */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/* Volvo Icons */



/* OEM Font Variables */
.acs-broad {
font-family: "volvo-broad", sans-serif;
font-weight: 400;
}

.acs-bold {
font-family: var(--bold-font);   
font-weight: 700;
}
/* OEM Font Variables */



/* Variables */
.acs-wrapper, .acs-oem-brand {
--accent: #2A609D;
--accent2: #284E80;
--accent3: #1c6bba;
--accent4: #202A44;
--accent5: #1B365D;
--accent6: #7089AC;
--accent7: #CED9E5;
--accent8: #A85F02;
--accent9: #BF834B;
--accent10: #D9B48B;
--accent11: #F0DFC6;
--accent12: #622128;
--accent13: #9E2A2B;
--accent14: #DDA69D;
--accent15: #F0DDD7;
--accent16: #22372B;
--accent17: #476D3B;
--accent18: #A3B2A4;
--accent19: #E0E7D9;
--black: #000000; 
--white: #ffffff; 
--gray: #FAFAFA; 
--gray2: #a3a3a3;
--gray3: #53565A;
--gray4: #888B8D;
--gray5: #A7A8A9;
--gray6: #C8C9C7;
--gray7: #E1DFDD;
--dark: #141414; 
--bold-font: "volvo-sans-medium", sans-serif;
}
/* Variables */



/* Text Colors */
.acs-gray {
color: var(--gray)
}
.acs-gray2 {
color: var(--gray2)
}
.acs-gray3 {
color: var(--gray3)
}
.acs-gray4 {
color: var(--gray4)
}
.acs-gray5 {
color: var(--gray5)
}
.acs-gray6 {
color: var(--gray6)
}
.acs-gray7 {
color: var(--gray7)
}
/* Text Colors */



/* Accent Colors */
.acs-accent {
color: var(--accent)
}
.acs-accent2 {
color: var(--accent2)
}
.acs-accent3 {
color: var(--accent3)
}
.acs-accent4 {
color: var(--accent4)
}
.acs-accent5 {
color: var(--accent5)
}
.acs-accent6 {
color: var(--accent6)
}
.acs-accent7 {
color: var(--accent7)
}
.acs-accent8 {
color: var(--accent8)
}
.acs-accent9 {
color: var(--accent9)
}
.acs-accent10 {
color: var(--accent10)
}
.acs-accent11 {
color: var(--accent11)
}
.acs-accent12 {
color: var(--accent12)
}
.acs-accent13 {
color: var(--accent13)
}
.acs-accent14 {
color: var(--accent14)
}
.acs-accent15 {
color: var(--accent15)
}
.acs-accent16 {
color: var(--accent16)
}
.acs-accent17 {
color: var(--accent17)
}
.acs-accent18 {
color: var(--accent18)
}
.acs-accent19 {
color: var(--accent19)
}
/* Accent Colors */



/* BG Colors */
.acs-bg-accent {
--acs-bg-opacity: 1;
background-color: var(--accent);
background-color: rgba(42,96,157, var(--acs-bg-opacity))
}
.acs-bg-accent2 {
--acs-bg-opacity: 1;
background-color: var(--accent2);
background-color: rgba(40,78,128, var(--acs-bg-opacity))
}
.acs-bg-accent3 {
--acs-bg-opacity: 1;
background-color: var(--accent3);
background-color: rgba(37,107,186, var(--acs-bg-opacity))
}
.acs-bg-accent4 {
--acs-bg-opacity: 1;
background-color: var(--accent4);
background-color: rgba(32,42,68, var(--acs-bg-opacity))
}
.acs-bg-accent5 {
--acs-bg-opacity: 1;
background-color: var(--accent5);
background-color: rgba(27,54,93, var(--acs-bg-opacity))
}
.acs-bg-accent6 {
--acs-bg-opacity: 1;
background-color: var(--accent6);
background-color: rgba(112,137,172, var(--acs-bg-opacity))
}
.acs-bg-accent7 {
--acs-bg-opacity: 1;
background-color: var(--accent7);
background-color: rgba(206,217,229, var(--acs-bg-opacity))
}
.acs-bg-accent8 {
--acs-bg-opacity: 1;
background-color: var(--accent8);
background-color: rgba(168,95,2, var(--acs-bg-opacity))
}
.acs-bg-accent9 {
--acs-bg-opacity: 1;
background-color: var(--accent9);
background-color: rgba(191,131,75, var(--acs-bg-opacity))
}
.acs-bg-accent10 {
--acs-bg-opacity: 1;
background-color: var(--accent10);
background-color: rgba(217,180,139, var(--acs-bg-opacity))
}
.acs-bg-accent11 {
--acs-bg-opacity: 1;
background-color: var(--accent11);
background-color: rgba(240,223,198, var(--acs-bg-opacity))
}
.acs-bg-accent12 {
--acs-bg-opacity: 1;
background-color: var(--accent12);
background-color: rgba(98,33,40, var(--acs-bg-opacity))
}
.acs-bg-accent13 {
--acs-bg-opacity: 1;
background-color: var(--accent13);
background-color: rgba(158,42,43, var(--acs-bg-opacity))
}
.acs-bg-accent14 {
--acs-bg-opacity: 1;
background-color: var(--accent14);
background-color: rgba(221,166,157, var(--acs-bg-opacity))
}
.acs-bg-accent15 {
--acs-bg-opacity: 1;
background-color: var(--accent15);
background-color: rgba(240,221,215, var(--acs-bg-opacity))
}
.acs-bg-accent16 {
--acs-bg-opacity: 1;
background-color: var(--accent16);
background-color: rgba(34,55,43, var(--acs-bg-opacity))
}
.acs-bg-accent17 {
--acs-bg-opacity: 1;
background-color: var(--accent17);
background-color: rgba(71,109,59, var(--acs-bg-opacity))
}
.acs-bg-accent18 {
--acs-bg-opacity: 1;
background-color: var(--accent18);
background-color: rgba(163,178,164, var(--acs-bg-opacity))
}
.acs-bg-accent19 {
--acs-bg-opacity: 1;
background-color: var(--accent19);
background-color: rgba(224,230,217, var(--acs-bg-opacity))
}
.acs-bg-gray {
--acs-bg-opacity: 1;
background-color: var(--gray);
background-color: rgba(250,250,250, var(--acs-bg-opacity))
}
.acs-bg-gray2 {
--acs-bg-opacity: 1;
background-color: var(--gray2);
background-color: rgba(163,163,163, var(--acs-bg-opacity))
}
.acs-bg-gray3 {
--acs-bg-opacity: 1;
background-color: var(--gray3);
background-color: rgba(83,86,90, var(--acs-bg-opacity))
}
.acs-bg-gray4 {
--acs-bg-opacity: 1;
background-color: var(--gray4);
background-color: rgba(136,139,141, var(--acs-bg-opacity))
}
.acs-bg-gray5 {
--acs-bg-opacity: 1;
background-color: var(--gray5);
background-color: rgba(167,168,169, var(--acs-bg-opacity))
}
.acs-bg-gray6 {
--acs-bg-opacity: 1;
background-color: var(--gray6);
background-color: rgba(200,201,199, var(--acs-bg-opacity))
}
.acs-bg-gray7 {
--acs-bg-opacity: 1;
background-color: var(--gray7);
background-color: rgba(225,223,221, var(--acs-bg-opacity))
}
.acs-bg-dark {
--acs-bg-opacity: 1;
background-color: var(--dark);
background-color: rgba(20,20,20, var(--acs-bg-opacity))
}
/* BG Colors */



/* Link Accent */
.acs-link-accent, .acs-link-accent2 {
text-decoration: none;
font-family: var(--bold-font);   
text-transform: uppercase;
letter-spacing: 0.02em;
transition: all 0.2s ease-in-out 0s;
}

.acs-link-accent {
color: var(--accent) !important;
}

.acs-link-accent:hover {
color: var(--black) !important; 
}

.acs-link-accent2 {
color: var(--white) !important;
}

.acs-link-accent2:hover {
opacity: 0.64 !important; 
}
/* Link Accent */



/* BUTTONS: START */
/* Button 1 */
.acs-button {
background-color: var(--accent2);
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--white);
border: solid 1px var(--accent2);
text-decoration: none !important;
padding: 12px 24px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button:hover {
background-color: var(--black);
color: var(--white);
border: solid 1px var(--black);
}

/* Button 2 */
.acs-button2 {
background-color: transparent;
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--accent);
border: solid 1px var(--accent);
text-decoration: none !important;
padding: 12px 24px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button2:hover {
background-color: var(--accent);
color: var(--white);
border: solid 1px var(--accent);
}

/* Button 3 */
.acs-button3 {
background-color: var(--white);
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--black);
border: solid 1px var(--white);
text-decoration: none !important;
padding: 12px 24px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button3:hover {
background-color: rgba(255, 255, 255, 0.64);
color: var(--black);
border-top-color: rgba(255, 255, 255, 0.64);
}

/* Button 4 */
.acs-button4 {
background-color: transparent;
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--white);
border: solid 1px var(--white);
text-decoration: none !important;
padding: 12px 24px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button4:hover {
background-color: var(--white);
color: var(--black);
}

.acs-button5 {
background-color: var(--black);
border-radius: 4px;
display: inline-block;
text-align: center;
color: var(--white);
border: solid 1px var(--black);
text-decoration: none !important;
padding: 12px 24px;
font-family: var(--bold-font);   
line-height: 22px;
text-transform: uppercase;
font-size: .875rem;
letter-spacing: 0.02em;
min-width: 100px;
transition-duration: 100ms, 300ms;
transition-timing-function: ease-out;
}
.acs-button5:hover {
background-color: var(--accent2);
color: var(--white);
border: solid 1px var(--accent2);
}
/* BUTTONS: END */



/* Volvo Icon */
.acs-volvo-icon {
display: inline-flex;
-moz-osx-font-smoothing: grayscale;
position: relative;
padding-right: .8em;
}
.acs-volvo-icon::after {
font-family: FontAwesome;
content: "\f105";
position: absolute;
right: 0;
top: .5px;
padding: 0 1px;
}
/* Volvo Icon */



/* DDC HEADER TEMPLATE FIX */
.page-header .value-statement {
bottom: -25px !important;
left: 115px !important;
}
.page-header.responsive-centered-nav .header-navigation .header-default .vcard .adr .ddc-icon {
position: relative !important;
top: 1px !important;
left: 0 !important;
}
i.ddc-icon.ddc-icon-map {
margin-right: -1.5px !important;
}
/* DDC HEADER TEMPLATE FIX */
